

/* index style */


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
}

.tm-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.tm-header{
    background-color: #fff;
}

/* header */

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tm-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

.tm-nav a:hover{
    color: #3e99ff ;
}

/* style section and titles */

.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* article */


p{
    margin-bottom: 20px;
}

h1, h2{
    margin-bottom: 20px;
}

img{
    display: block;
    max-width: 100%;
}

.tm-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tm-article{
    background: #fff;
    padding: 30px;
}


.calendar{
    border-radius: 10px;
    margin-left: 40px;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
}

.calendar-wrap{
    order: 2;
}
/* Price cards */

.boxes .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.box {
    background: #164e83;
    max-width: 300px;
    min-width: 300px;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px 20px;
    text-align: center;
}

.box-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* access style map */


.map-wrap{
    display: flex;
    justify-content: center;
}

.map{
    border-radius: 10px;
}

/* photo description */

