
/* index style */


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body.dark {
	background: #292C35;
}

body{
    background-color: #eeeeee;
}

.tm-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.tm-header{
    background-color: #fff;
}

/* header */

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tm-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

.tm-nav a:hover{
    color: #3e99ff ;
}


/* DARK-MODE */

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

/* style section and titles */

.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* article */


p{
    margin-bottom: 20px;
}

h1, h2{
    margin-bottom: 20px;
}

img{
    display: block;
    max-width: 100%;
}

.tm-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tm-article{
    background: #fff;
    padding: 30px;
}


.calendar{
    border-radius: 10px;
    margin-left: 70px;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    margin-left:150px;
    align-items: center;
}

.calendar-wrap{
    order: 2;
}
/* Price cards */

.boxes .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.box {
    background: #164e83;
    max-width: 300px;
    min-width: 300px;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px 20px;
    text-align: center;
}

.box-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* access style map */


.map-wrap{
    display: flex;
    justify-content: center;
}

.map{
    border-radius: 10px;
}

/* photo description */

.gallery {
    width: 320px;
    height: 240px;
}

.image-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.image-grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .grid-image {
    display: block;
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
   
