
/* index style */


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body.dark {
	background: #292C35;
}

body{
    background-color: #eeeeee;
}

.tm-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* header */

.tm-header{
    background-color: #fff;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tm-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

.tm-nav a:hover{
    color: #3e99ff ;
}


/* Header_Profile_picture*/

/* Adjust the profile icon size */
.profile-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 67px; /* Make it smaller */
    height: 67px; 
    border-radius: 50%;
    overflow: hidden; /* Clip the overlay to circle */
}

.profile-icon img {
    max-width: 100%;
    border-radius: 50%;
}

/* Adjust overlay dimensions to match the resized profile icon */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 67px; /* Make it 40% smaller */
    height: 67px; /* Make it 40% smaller */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    clip-path: circle(50%); /* Clip the overlay to circle */
}

.profile-icon:hover .overlay {
    opacity: 1;
}

.connect-link {
    color: #000;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.connect-link:hover {
    background-color: #fff;
    color: #333;
}




/* DARK-MODE */

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 40px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(20px);
}

/* style section and titles */

.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title.light{
    color: #fff;
}


/* article */


p{
    margin-bottom: 20px;
}

h1, h2{
    margin-bottom: 20px;
}

img{
    display: block;
    max-width: 100%;
}

.tm-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tm-article{
    background: #fff;
    padding: 30px;
}

/* prix et disponibilités*/

.calendar{
    border-radius: 10px;
    margin-left: 70px;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    margin-left:150px;
    align-items: center;
}

.calendar-wrap{
    order: 2;
}

/* Price cards */

.boxes .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.box {
    background: #164e83;
    max-width: 300px;
    min-width: 300px;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px 20px;
    text-align: center;
}

.box-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* access style map */


.map-wrap{
    display: flex;
    justify-content: center;
}

.map{
    border-radius: 10px;
}

/* photo description */

.gallery img {
    width: 320px;
    padding: 12px;
}

.img-column img {
    width: 100%;
}
.gallery{
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-column{
    display: flex;
    margin-top: 10px;
}


.descr.light{
    color: #fff;
}
.gallery-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descr-wrap{
    margin-top: 10px;
}

/* tourism */
.tourism-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tourism-img-wrap{
    width: 400px;
    height: 250px;
}

.tourism-img-wrap img{
    width: 100%;
    height: 100%;
}

.tourism-item{
    margin-left: 10px;
    margin-right: 30px;
}

.tourisme-link-wrap{
    margin-top: 5px;
}

.tourisme-link-wrap-office{
    margin-left: 90px;
}

.tourisme-link-wrap-ferrata{
    margin-left: 75px;

}

.tourisme-link-wrap-restaurant{
    margin-left: 40px;
}

.tourisme-link{
    text-decoration: none;
    color: #000;
}
.tourisme-link:hover{
    text-decoration: underline;
}



/*LOGIN style*/


/* background */

.maison {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/login/Ventoux3.jpg");
    background-size: cover;
    background-position:center;
    margin: 0;
}

/* Login_form */

.form_container {
    position : absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2{
    font-size: 22px;
    color:#0b0217;
    text-align:center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
    border-color: #7d2ae8;
}
.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}
.input_box i.email,
.input_box i.password {
    left: 0; 
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: #7d2ae8;
}
.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a{
    color: #7d2ae8;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkboxRemember {
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.checkboxRemember input {
    accent-color : #7d2ae8;
    margin-right: 10px;
}

.checkboxRemember label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.forgot_pw  {
    text-decoration: none; /* enlever le underline */
}

.form_container .button {
    background: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 600; /*mettre en gras aussi avec bold*/
    text-decoration: none;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;

}
